*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  /* background-color: #444; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --orange: hsl(24, 100%, 50%);
  --dark-orange: hsl(24, 100%, 40%);
  --dark-font: hsl(0, 0%, 10%);
  --dark-light: hsl(0, 0%, 15%);
  --grey-font: hsl(0, 0%, 30%);
}

/* @media (prefers-color-scheme: dark){
  :root{
    background-color: black;
    color: white;
  }
} */

body{
  display: flex;
  flex-direction: column;
  background-color: white;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(50, 50, 50);
}

.container{
  max-width: 400px;
  background-color: white;
  padding: 2rem 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px .01rem hsla(0, 0%, 0%, 0.25);
  margin-top: 3rem;
}

.container img{
  width: 50px;
  height: auto;
  align-self: center;
}

.container h1{
  color: var(--orange);
  font-size: 24px;
  text-align: center;
}

.container h2{
  text-align: center;
  font-size: 28px;
}

.container p{
  color: var(--grey-font);
  font-size: 14px;
  text-align: center;
  padding: 1rem 0;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group{
  align-self: start;
  display: flex;
  flex-direction: column;
  width: 100%;

  label{
    color: black;
    padding-bottom: .35rem;
    font-weight: 600;
  }
  
  input[type="email"], input[type = "password"]{
    padding: 10px 12px;
    border: 1px solid hsla(0, 0%, 0%, 0.15);
    border-radius: 8px;
    margin-bottom: 8px;
  }
  input[type="email"]:focus, input[type = "password"]:focus{
    outline: none;
    border: 1px solid var(--orange);
  }
}

.remember-row{
  align-self: flex-start;
  margin-left: 6px;
  color: hsla(0, 0%, 0%, 0.7);
  font-weight: 400;
}

.forgot-pass{
  align-self: flex-end;
  position: relative;
  bottom: 20px;
  color: var(--orange);
  text-decoration: none;
}

.submit-btn{
  width: 100%;
  color: white;
  background-color: var(--orange);
  border: none;
  border-radius: 8px;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.submit-btn:hover{
  cursor: pointer;
  background-color: var(--dark-orange);
}

.forgot-pass:hover{
  color: var(--dark-orange);
}

.or-divider{
  color: hsl(207, 30%, 47%);
  align-self: center;
  padding-bottom: .5rem;
}

.social-row{
  align-self: center;
  display: flex;
  gap: 1rem;
  padding-bottom: 2rem;
  button{
    background-color: aliceblue;
    border: 1px solid hsla(0, 0%, 10%, 0.35);
    border-radius: 8px;
    padding: 8px 12px;
  }
  button:hover{
    cursor: pointer;
    i{
      color: var(--dark-orange);
    }
  }

  i{
    color: var(--orange);
  }
}

.signup-row{
  align-self: center;
  text-align: center;
  color: var(--dark-light);
  a{
    text-decoration: none;
    color: var(--orange);
    font-weight: 600;
  }
  a:hover{
    color: var(--dark-orange);
  }
}