*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root{
    --greybg: hsl(250, 3%, 90%);
    font-family: "Open Sans", sans-serif;
}

body{
    background: var(--greybg);
    display: flex;
    flex-direction: column;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-left: 8%;
    padding-right: 8%;
    padding-top: 1.8%;

    div{
        cursor: pointer;
    }
}

nav div span{
    color: black;
    border: 2px solid black;
    background: black;
    margin: 4px;
}

nav div a{
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 200;
}

h1, h2{
    margin-left: 7%;
    margin-top: 7%;
    font-size: 300%;
}

p{
    margin-top: 4%;
    margin-bottom:4%;
    margin-left: 7%;
    max-width: 45%;
    font-size: 150%;
    span{
        background: #2d2d2d;
        color: white;
        border: 2px solid #2d2d2d;
        font-weight: bold;
    }
}

.art-collage{
    /* interesting, if no flex direction is set,
    this happens got it... */
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
    img{
        
        width: 50%;
        height: auto;
        /* overflow-clip-margin: content-box;
        overflow: clip; */
    }
}


.art-types{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.art-card{
    margin: 50px;
    img{
        width: 400px;
        height: 500px;
    }

    h3{
        padding-bottom: 10%;
        position: relative;
        right: 5%;
        font-size: 200%;
        color: #5a5a5a;
    }
}

footer{
    background: grey;
    margin-top: 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    padding: 100px;
}

.logo-container h4 {
    font-size: 4rem;
    font-family: var(--main-font);
    margin-bottom: 20px;
}

footer .logo-container p {
    padding: 0;
    margin: 0;
    max-width: 400px;
    font-family: sans-serif;
    line-height: 25px;
}

footer .about-company {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  div{
    margin-right: 40px;
    margin-top: 20px;
  }

  h5{
    font-size: 2rem;
    margin-bottom: 50px;
  }

  li{
    list-style: none;
    margin-top: 10%;
  }
  a{
    font-family: sans-serif;
    margin-bottom: 20px;
    text-decoration: none;
    color: white;
  }
}

footer{
  margin-top: auto;
  background: rgb(43, 43, 43);
}

@media (max-width: 414px){
    body{
        overflow-x: hidden;
    }
}