* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  color: skyblue;
}

div.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  text-align: center;
  /* background-color: rgb(201, 219, 235); */
  /* linear gradient */
  background: linear-gradient(rgba(6, 169, 251, .75) 0%,rgba(88, 86, 204, .75) 30%,
  rgba(203, 98, 252, .75) 100%);
  filter: blur(100%);
  max-width: 350px;
  min-height: 500px;
  border: .1rem solid rgba(0, 255, 255, 0.927);
  border-radius: 8px;
  /* padding: 2rem; */
  /* padding-bottom: 0; */
  position: relative;

  h2{
    font-weight: 500;
    color: rgb(0, 242, 255);
  }

  img {
    margin-top: auto;
    max-width: 120px;
    border-radius: 50%;
    /* border: .1rem solid black; */
    margin-bottom: 1rem;
  }

  p.role {
    font-weight: 400;
    color: rgb(191, 223, 255);
    padding-bottom: .25rem;
  }

  h3 {
    color:rgb(117, 216, 122);
    font-weight: 400;
    padding-bottom: .25rem;
  }

  div.skills {
    padding-bottom: 1rem;
    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      gap: 8px;
      li {
        border: 1px solid rgba(0, 0, 0, 0.25);
        border-radius: 24px;
        padding: 4px 12px;
        background-color: aliceblue;
        box-shadow: 0 2px 1rem .01rem aliceblue;
        a {
          font-weight: 600;
          text-decoration: none;
          color: black;
          border-radius: 1px solid black;
        }
      }
      li.blueli{
        background: skyblue;
        border: 1px solid skyblue;
        box-shadow: 0 2px 1rem .01rem skyblue;
        a{
          color: white;
        }
      }
    }
  }
  p.description{
    padding: 0 1rem;
    font-size: small;
    color: aliceblue;
  }
  button.card-btn{
    color: white;
    font-size: large;
    font-weight: 600;
    background: skyblue;
    border: none;
    width: 100%;
    height: 70px;
    margin-top: auto;
    box-shadow: 0 2px 1rem .01rem skyblue;
  }
  button.card-btn:hover{
    box-shadow: 0 2px 1rem .01rem skyblue;
    cursor: pointer;
    filter: brightness(110%);
    text-decoration: 2px underline;
    text-underline-offset: 4px;
  }

  span.dollar-span{
    position: absolute;
    top: 5%;
    right: -15%;
    width: 200px;
    font-weight: 600;
    font-size: 1.2rem;
    color: rgb(255, 132, 251);
    border: 1px solid cyan;
    background-color: cyan;
    box-shadow: 0 0 20px 5px cyan;
    rotate: 45deg;
  }
  transition: .5s ease-in-out;
  /* this means:
  * means all elements
  > means direct children of
  so it means all elements which are
  direct children of div.card here  */
  > * {
    transition: .5s ease-in-out;
    
  }
  
}

div.card:hover{
  transform: scale(1.05);
  /* transform: rotate(360deg); */
  transition: .5s ease-in-out;
  /* applied to all elems inside it*/
  :hover{
    transform: scale(1.05);
    transition: .5s ease-in-out;
  }
}